<%= content_for :navigation do %>
  <li>
    <%= link_to "Yesterday", "#", class: "ss-navigateleft left" %>
  </li>
  <li>
    <a href="#"><%= @outline.publish_date %></a>
  </li>
  <li>
    <%= link_to "Tomorrow", "#", class: "ss-navigateright right" %>
  </li>
<% end %>

<%= @outline.body_as_html.html_safe %>

<%= content_for :footer do %>
  <li><%= link_to "new", new_outline_path %></li>
  <li><%= link_to "edit", edit_outline_path(@outline) %></li>
<% end %>