<%= content_for :navigation do %>
  <li>
    <%= previous_link @schedule.previous %>
  </li>
  <li>
    <a href="#" class="schedule-current"><%= nav_date_format(@schedule.publish_date) %></a>
    <input type="date" class="schedule-datepicker" style="display: none;" value="<%= @schedule.publish_date %>" />
  </li>

  <li>
    <%= next_link @schedule.next %>
  </li>

<% end %>

<div class="content-live">
  <%= @schedule.body %>
</div>

<% if @schedule.can_edit? %>
  <div class="content-edit" style="display: none;">
    <%= render partial: 'outlines/form', locals: { outline: @schedule.current } %>
    <br/>
  </div>
<% end %>

<script>

  $(function() {
    $(".toggle-content-edit").on("click",function(event) {
      event.preventDefault();
      $(".content-live").toggle();
      $(".content-edit").toggle();
    });

    $(".schedule-current").on("click",function(event) {
      event.preventDefault();
      $(this).toggle();
      $(".schedule-datepicker").toggle();
    });

    $(".schedule-datepicker").on("focusout",function(event) {
      event.preventDefault();
      var newDate = $(this).val().replace(/-/g,'');
      window.location.href= "/" + newDate;
    });

  });

</script>

<%= content_for :footer do %>
  <li><%= link_to "new", new_outline_path(outline: { publish_date: @schedule.current.to_param }) %></li>
  <% if @schedule.can_edit? %>
    <li><%= link_to "edit", "", class: "toggle-content-edit" %></li>
  <% end %>
  <li>
    <%= link_to "calendar", outlines_path %>
  </li>
<% end %>