<%= content_for :navigation do %>
  <li>
    <%= previous_link @schedule.previous %>
  </li>
  <li>
    <a href="#"><%= @schedule.publish_date %></a>
  </li>
  <li>
    <%= next_link @schedule.next %>
  </li>
<% end %>

<div class="content-live">
  <%= @schedule.body %>
</div>

<div class="content-edit" style="display: none;">
  <%= render partial: 'outlines/form', locals: { outline: @schedule.current } %>
  <br/>
</div>

<script>

  $(function() {
    $(".toggle-content-edit").on("click",function(event) {
      event.preventDefault();
      $(".content-live").toggle();
      $(".content-edit").toggle();
    });
  });

</script>

<%= content_for :footer do %>
  <li><%= link_to "new", new_outline_path %></li>
  <li><%= link_to "edit", "", class: "toggle-content-edit" %></li>
<% end %>